In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
import matplotlib.pyplot as plt

In [4]:
import os

In [5]:
import sys

In [6]:
os.chdir('/Volumes/SPACETIME')

In [31]:
hchar = pd.read_csv('/Volumes/SPACETIME/inpatientCharges.csv', header=0)

In [32]:
hchar.columns = [x.strip().replace(' ', '_') for x in hchar.columns]

In [10]:
for col in hchar:
    print(col, hchar[col].dtypes)

DRG_Definition object
Provider_Id int64
Provider_Name object
Provider_Street_Address object
Provider_City object
Provider_State object
Provider_Zip_Code int64
Hospital_Referral_Region_Description object
Total_Discharges int64
Average_Covered_Charges object
Average_Total_Payments object
Average_Medicare_Payments object

In [18]:
hchar['Average_Total_Payments'] = hchar['Average_Total_Payments'].convert_objects(convert_numeric=True)

/Users/danielbrickman/anaconda/lib/python3.5/site-packages/ipykernel/__main__.py:1: FutureWarning: convert_objects is deprecated.  Use the data-type specific converters pd.to_datetime, pd.to_timedelta and pd.to_numeric.
  if __name__ == '__main__':

In [15]:
hchar.loc[:,['Average_Total_Payments']]

       Average_Total_Payments
0                    $5777.24
1                    $5787.57
2                    $5434.95
3                    $5417.56
4                    $5658.33
5                    $6653.80
6                    $5834.74
7                    $8031.12
8                    $6113.38
9                    $5541.05
10                   $5461.57
11                   $5356.28
12                   $5374.65
13                   $5366.23
14                   $5282.93
15                   $5676.55
16                   $5930.11
17                   $6192.54
18                   $4968.00
19                   $5996.00
20                   $5710.31
21                   $5550.90
22                   $4987.26
23                   $8401.95
24                   $7768.90
25                   $6799.85
26                   $9133.00
27                   $6506.50
28                   $6083.42
29                   $7140.85
...                       ...
163035               $4090.57
163036               $4672.87
163037               $4615.15
163038               $5992.09
163039               $3970.66
163040               $4867.17
163041               $4482.47
163042               $3778.78
163043               $7411.21
163044               $4082.00
163045               $4301.29
163046               $3884.77
163047               $4619.00
163048               $4114.00
163049               $5562.50
163050               $5720.17
163051               $4084.55
163052               $3830.10
163053               $3885.20
163054               $6258.61
163055               $4905.17
163056               $6889.33
163057               $6192.84
163058               $5975.26
163059               $3772.00
163060               $3806.86
163061               $4027.36
163062               $5704.36
163063               $7663.09
163064               $3539.75

[163065 rows x 1 columns]

In [19]:
for col in hchar:
    print(col, hchar[col].dtypes)

DRG_Definition object
Provider_Id int64
Provider_Name object
Provider_Street_Address object
Provider_City object
Provider_State object
Provider_Zip_Code int64
Hospital_Referral_Region_Description object
Total_Discharges int64
Average_Covered_Charges object
Average_Total_Payments object
Average_Medicare_Payments object

In [52]:
hchar.head(n=5)

,DRG_Definition,Provider_Id,Provider_Name,Provider_Street_Address,Provider_City,Provider_State,Provider_Zip_Code,Hospital_Referral_Region_Description,Total_Discharges,Average_Covered_Charges,Average_Total_Payments,Average_Medicare_Payments
0,039 - EXTRACRANIAL PROCEDURES W/O CC/MCC,10001,SOUTHEAST ALABAMA MEDICAL CENTER,1108 ROSS CLARK CIRCLE,DOTHAN,AL,36301,AL - Dothan,91,32963.07,5777.24,4763.73
1,039 - EXTRACRANIAL PROCEDURES W/O CC/MCC,10005,MARSHALL MEDICAL CENTER SOUTH,2505 U S HIGHWAY 431 NORTH,BOAZ,AL,35957,AL - Birmingham,14,15131.85,5787.57,4976.71
2,039 - EXTRACRANIAL PROCEDURES W/O CC/MCC,10006,ELIZA COFFEE MEMORIAL HOSPITAL,205 MARENGO STREET,FLORENCE,AL,35631,AL - Birmingham,24,37560.37,5434.95,4453.79
3,039 - EXTRACRANIAL PROCEDURES W/O CC/MCC,10011,ST VINCENT'S EAST,50 MEDICAL PARK EAST DRIVE,BIRMINGHAM,AL,35235,AL - Birmingham,25,13998.28,5417.56,4129.16
4,039 - EXTRACRANIAL PROCEDURES W/O CC/MCC,10016,SHELBY BAPTIST MEDICAL CENTER,1000 FIRST STREET NORTH,ALABASTER,AL,35007,AL - Birmingham,18,31633.27,5658.33,4851.44

In [51]:
hchar['Average_Medicare_Payments'] = hchar['Average_Medicare_Payments'].astype('float')

In [49]:
print(hchar.columns)

Index(['DRG_Definition', 'Provider_Id', 'Provider_Name',
       'Provider_Street_Address', 'Provider_City', 'Provider_State',
       'Provider_Zip_Code', 'Hospital_Referral_Region_Description',
       'Total_Discharges', 'Average_Covered_Charges', 'Average_Total_Payments',
       'Average_Medicare_Payments'],
      dtype='object')

In [44]:
hchar['Average_Medicare_Payments'] = hchar['Average_Medicare_Payments'].str.replace('$','')

In [45]:
hchar.head(n=5)

,DRG_Definition,Provider_Id,Provider_Name,Provider_Street_Address,Provider_City,Provider_State,Provider_Zip_Code,Hospital_Referral_Region_Description,Total_Discharges,Average_Covered_Charges,Average_Total_Payments,Average_Medicare_Payments
0,039 - EXTRACRANIAL PROCEDURES W/O CC/MCC,10001,SOUTHEAST ALABAMA MEDICAL CENTER,1108 ROSS CLARK CIRCLE,DOTHAN,AL,36301,AL - Dothan,91,32963.07,5777.24,4763.73
1,039 - EXTRACRANIAL PROCEDURES W/O CC/MCC,10005,MARSHALL MEDICAL CENTER SOUTH,2505 U S HIGHWAY 431 NORTH,BOAZ,AL,35957,AL - Birmingham,14,15131.85,5787.57,4976.71
2,039 - EXTRACRANIAL PROCEDURES W/O CC/MCC,10006,ELIZA COFFEE MEMORIAL HOSPITAL,205 MARENGO STREET,FLORENCE,AL,35631,AL - Birmingham,24,37560.37,5434.95,4453.79
3,039 - EXTRACRANIAL PROCEDURES W/O CC/MCC,10011,ST VINCENT'S EAST,50 MEDICAL PARK EAST DRIVE,BIRMINGHAM,AL,35235,AL - Birmingham,25,13998.28,5417.56,4129.16
4,039 - EXTRACRANIAL PROCEDURES W/O CC/MCC,10016,SHELBY BAPTIST MEDICAL CENTER,1000 FIRST STREET NORTH,ALABASTER,AL,35007,AL - Birmingham,18,31633.27,5658.33,4851.44

In [53]:
hchar.describe()

,Provider_Id,Provider_Zip_Code,Total_Discharges,Average_Covered_Charges,Average_Total_Payments,Average_Medicare_Payments
count,163065.000000,163065.000000,163065.000000,163065.000000,163065.000000,163065.000000
mean,255569.865428,47938.121908,42.776304,36133.954224,9707.473804,8494.490964
std,151563.671767,27854.323080,51.104042,35065.365931,7664.642598,7309.467261
min,10001.000000,1040.000000,11.000000,2459.400000,2673.000000,1148.900000
25%,110092.000000,27261.000000,17.000000,15947.160000,5234.500000,4192.350000
50%,250007.000000,44309.000000,27.000000,25245.820000,7214.100000,6158.460000
75%,380075.000000,72901.000000,49.000000,43232.590000,11286.400000,10056.880000
max,670077.000000,99835.000000,3383.000000,929118.900000,156158.180000,154620.810000